.background {
    background-image: url("../bg/backgroundww.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: fit-content;
    height: 100%;
}

.blog {
    border: 5px;
    border-color: #bd1c2cd3;
    border-style: solid;
    background-color: #ffffff40;
    width: 50%;
    margin: auto;
    margin-bottom: 3%;
    text-align: justify;
    padding: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 140%;
    font-weight: 500;
    initial-letter: 3;
    hyphens: auto;
}

body {
    background: #4e4e4e;
    width: 80%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    position: absolute;
}

.border {
    color: #000000de;
    padding: 5px;
    border: #2f9cb5;
    border-style: solid;
    border-width: 5px;
    width: fit-content;
    left: 7%;
    position: fixed;
}

.container {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

@font-face {
    font-family: Blackletter;
    src: url("../fonts/CloisterBlack.ttf");
}

@font-face {
    font-family: Gutenberg;
    src: url("../fonts/GutenbergTextura.ttf");
}

@font-face {
    font-family: Yonkers;
    src: url("../fonts/Yonkers.ttf");
}

h1 {
    color: #000000de;
    font-family: Gutenberg;
    font-weight: 400;
    font-size: 8em;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    color: #000000de;
    margin: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-family: Yonkers;
    font-size: 5rem;
    font-weight: 300;
    text-decoration: underline;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media(min-width: 820px) {
    .blog {
        width: 60%;
    }
    .border {
        left: 0%;
    }
}

.navbar {
    border: 3px;
    border-color: #bd1c2cd3;
    border-style: solid;
    overflow: hidden;
    text-align: left;
    font-family: Yonkers;
    font-size: 180%;
    font-weight: 600;
    width: 85%;
    margin: auto;
    background-color: #ffffff5f;
}

.navbar a {
    float: none;
    display: block;
    color: #000;
    padding: .3rem;
    width: 80px;
    initial-letter: 3;
}

p::first-letter {
    initial-letter: 3;
}