.background {
    background-image: url("../img/backgroundww.jpg");
    background-repeat: space;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.background,
html {
    height: 100%;
}

body {
    background: #4e4e4e;
    width: 80%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

@font-face {
    font-family: Blackletter;
    src: url("../fonts/CloisterBlack.ttf");
}

@font-face {
    font-family: Gutenberg;
    src: url("../fonts/GutenbergTextura.ttf");
}

@font-face {
    font-family: Yonkers;
    src: url("../fonts/Yonkers.ttf");
}

h1 {
    color: #000000de;
    font-family: Gutenberg;
    font-weight: 400;
    font-size: 8em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
}

h2 {
    margin: 0;
    padding-bottom: 2%;
    padding: 2%;
    color: #000000de;
    text-align: center;
    font-family: Yonkers;
    font-size: 5em;
    font-weight: 300;
    text-decoration: underline;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.initial p:first-child:first-letter {
    border-style: double;
    border-color: #2f9cb5;
    border-width: 5px;
    font-family: Blackletter;
    font-size: 5.2em;
    color: #bd1c2cd3;
    padding: 1%;
    margin-right: 1%;
    line-height: 0.7;
    float: left;
}

.main {
    border: solid 5px #bd1c2cd3;
    background-color: #ffffff40;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    hyphens: auto;
    font-size: 1.5em;
}

.main-border {
    border: solid 3px #2f9cb5;
    padding: 3px;
    margin: auto;
    width: 50%;
}

.navbar {
    border-color: #bd1c2cd3;
    border-style: solid;
    border-width: 5px;
    background-color: #ffffff40;
    font-family: Yonkers;
    overflow: hidden;
    margin: auto;
    text-align: left;
    list-style: none;
}

.navbar a {
    float: none;
    display: inline-block;
    color: #000;
    padding: 5px;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.navbar-border {
    padding: 3px;
    border: #2f9cb5;
    border-style: solid;
    border-width: 3px;
    width: 110px;
    margin: auto;
    position: fixed;
    top: 40%;
    left: 7%;
}

.rollen p {
    margin: 0;
    padding-top: 4%;
}

.rollen p::first-letter {
    font-size: 2em;
    color: #bd1c2cd3;
    text-decoration: none;
}

.rollen p::first-line {
    font-family: Yonkers;
    font-weight: 600;
    line-height: 1;
    text-decoration: underline;
}

@media (max-width: 820px) {
    h1 {
        font-size: 5em;
        margin-top: .7em;
    }
    h2 {
        font-size: 2.5em;
    }
    .main {
        font-size: 1em;
        padding: 4%;
        width: auto;
    }
    .main-border {
        width: 80%;
    }
    .navbar {
        border-color: #2f9cb5 !important;
        background-color: #ffffffb9 !important;
        text-align: center !important;
    }
    .navbar a {
        float: inline-start !important;
        font-size: 1.5em !important;
    }
    .navbar-border {
        border: none;
        width: 100%;
        padding: 0;
        top: 0;
        left: 0;
        margin: 0;
    }
}