.anchor {
    display: block;
    height: 0;
    /*same height as header*/
    margin-top: 0;
    /*same height as header*/
    visibility: hidden;
}

.background {
    background-image: url("../img/backgroundww.jpg");
    background-repeat: space;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.background,
html {
    height: 100%;
}

body {
    background: #4e4e4e;
    width: 80%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    position: absolute;
}

.dropdown a {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 110px;
    top: 40px;
    background-color: #ffffffb9;
    z-index: 1;
    margin-left: 1%;
    margin-right: 1%;
    width: min-content;
    border: solid 3px #2f9cb5;
    box-shadow: 7px 7px 7px #4e4e4e;
    line-height: .9em;
    font-family: Blackletter;
    font-weight: 200;
    font-size: .7em;
    overflow: hidden;
}

.dropdown-content a {
    text-decoration: none;
    display: inline;
    height: 1em;
}

.dropdown-content a:hover {
    text-decoration: underline;
    background-color: #e3e3e3b9;
}

.dropdown-content a:hover::first-letter {
    color: #2f9cb5;
}

.dropdown-content a::first-letter {
    color: #bd1c2cd3;
}

footer {
    position: static;
    margin-top: 4%;
    bottom: 0;
    text-align: center;
    background-color: #000000de;
    color: #fff;
    padding: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #bd1c2cd3;
}

#Github {
    position: static;
    bottom: 0;
    margin: auto;
    margin-top: 4%;
    display: block;
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
    border: solid 3px #2f9cb5;
    padding: 2px;
    overflow: hidden;
}

#Github img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #bd1c2c;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    opacity: .85;
    background-color: #ffffff40;
}

#Github img:hover {
    filter: invert(100%);
    background-color: #fff;
    border-color: #42e3d3;
}

h1 {
    color: #000000de;
    font-family: Gutenberg;
    font-weight: 400;
    font-size: 8em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
}

h2 {
    margin: 0;
    padding-bottom: 2%;
    padding: 2%;
    color: #000000de;
    text-align: center;
    font-family: Yonkers;
    font-size: 5em;
    font-weight: 300;
    text-decoration: underline;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.initial p:first-child::first-letter {
    display: inline;
    border-style: double;
    border-color: #2f9cb5;
    border-width: 5px;
    height: auto;
    width: 20px;
    font-family: Blackletter;
    font-size: 5.5em;
    color: #bd1c2cd3;
    padding: 1%;
    margin-right: 1%;
    /* Nochmal gucken!*/
    line-height: 0.7;
    vertical-align: +10px;
    float: left;
}

.main {
    border: solid 5px #bd1c2cd3;
    background-color: #ffffff40;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    hyphens: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: #000000de;
}

.main-border {
    border: solid 3px #2f9cb5;
    padding: 3px;
    margin: auto;
    width: 50%;
}

.navbar {
    border-color: #bd1c2cd3;
    border-style: solid;
    border-width: 5px;
    background-color: #ffffff40;
    margin: auto;
    text-align: left;
    list-style: none;
    width: auto;
    line-height: .9em;
    font-family: Yonkers;
    font-size: 2em;
    font-weight: 600;
    overflow: hidden;
    z-index: 1;
}

.navbar a {
    color: #000;
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: left;
}

.navbar a:not(.not):not(.not a):hover {
    color: #bd1c2cd3;
    background-color: #000;
}

.navbar-border {
    padding: 3px;
    border: #2f9cb5;
    border-style: solid;
    border-width: 3px;
    width: 115px;
    margin: auto;
    position: fixed;
    top: 35%;
    left: 10%;
}

#no-border {
    border-bottom: none;
}

p {
    z-index: 0;
}

p::first-letter {
    color: #bd1c2cd3;
    font-size: 1.5em;
    font-family: Yonkers;
    vertical-align: -5px;
}

.powers p::first-line {
    font-family: Blackletter;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: underline;
    line-height: 2;
}

.powers span:target+p::first-letter {
    color: #2f9cb5;
}

.regeln li {
    padding-bottom: 1em;
    padding-top: 1em;
    list-style-type: none;
}

.regeln li::first-letter {
    font-family: Blackletter;
    font-size: 1.7em;
    color: #bd1c2cd3;
    line-height: .4;
}

.rollen a {
    color: #000000de;
}

.rollen p img {
    display: block;
    float: right;
    height: 4em;
    width: 4em;
    margin-left: 1%;
    bottom: 0;
}

.rollen p {
    margin: auto;
    padding-top: .7em;
    padding-bottom: .7em;
    border-bottom: solid 2px #00000069;
}

.rollen p br {
    display: block;
    content: "";
    margin-top: .8em;
}

.rollen p::first-line {
    font-family: Blackletter;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: underline;
}

.rollen span:target+p::first-letter {
    color: #2f9cb5;
}

.rotate {
    display: inline-block;
    transform: rotate(180deg);
    font-size: 110%;
    vertical-align: -2px;
}

#Top li {
    list-style: decimal;
}

#Top ol {
    display: inline-table;
    margin: 0 auto;
    padding-left: 4em;
}

#Top p::first-letter {
    line-height: .7;
    float: left;
}

@font-face {
    font-family: Blackletter;
    src: url("../fonts/CloisterBlack.ttf");
}

@font-face {
    font-family: Gutenberg;
    src: url("../fonts/GutenbergTextura.ttf");
}

@font-face {
    font-family: Yonkers;
    src: url("../fonts/Yonkers.ttf");
}

@media (max-width: 820px) {
    .anchor {
        height: 120px;
        /*same height as header*/
        margin-top: -120px;
        /*same height as header*/
    }
    .dropdown-content {
        width: 97%;
        top: 80%;
        left: 0;
        margin: auto;
    }
    .dropdown:hover .dropdown-content {
        display: inline-block;
    }
    h1 {
        font-size: 5em;
        margin-top: .7em;
    }
    h2 {
        font-size: 2.5em;
    }
    .main {
        font-size: 1.1em;
        padding: 4%;
        width: auto;
    }
    .main-border {
        width: 85%;
    }
    .navbar {
        border-color: #2f9cb5 !important;
        background-color: #ffffffb9 !important;
        text-align: center !important;
        display: flex;
        justify-content: center;
    }
    .navbar a {
        font-size: .8em !important;
        display: inline !important;
        float: left !important;
        width: min-content !important;
    }
    .navbar-border {
        position: fixed;
        border: solid 3px #bd1c2cd3;
        width: 97%;
        padding: 3px;
        top: 0;
        left: 0;
        margin: 0;
    }
}